# {{ ansible_managed }}

[DEFAULT]
ignoreip = {{ fail2ban_ignoreip | join(' ') }}
bantime = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend = {{ fail2ban_backend }}
usedns = {{ fail2ban_usedns }}
destemail = {{ fail2ban_dest_email }}
sender = {{ fail2ban_sender_email }}
sendername = {{ fail2ban_sender_name }}
banaction = {{ fail2ban_banaction }}
mta = {{ fail2ban_mta }}
protocol = {{ fail2ban_protocol }}
chain = {{ fail2ban_chain }}
action = {{ fail2ban_default_action }}
{% for jail_name, jail_config in fail2ban_jails | dictsort %}

[{{ jail_name }}]
{% for option, value in jail_config | dictsort %}
{% if value is sameas true -%}
{{ option }} = true
{% elif value is sameas false -%}
{{ option }} = false
{% elif value is sequence and value is not string -%}
{{ option }} = {{ value | join(' ') }}
{% else -%}
{{ option }} = {{ value }}
{% endif -%}
{% endfor %}
{% endfor %}
